.task{
  width: 101%;
  padding:15px;
  border-left: 3px solid transparent;
  height: 80px;
  border-bottom:1px solid darken(#f2f2f2,5%);
  position: relative;

  &__not-visited{
    background: lighten(#e5e5e5,5%) !important;
    font-weight: bold !important;
    border-left:3px solid darken(@selling,3%);
  }
  &:hover{
    border-left:3px solid darken(@selling,3%);
  }
  &__circle{
    width: 5px;
    height: 5px;
    background: transparent;
    position: absolute;
    top: 48%;
    left: 5px;

    border-radius:50%;
    &-active{
      background: @selling;
    }
  }
  &__star{

    display: inline;
  }
  &__name{
    cursor: pointer;
    margin-top: 10px;
    color: darken(@gray,7%);
    display: inline-block;
    font-size: 21px;
    &:hover{
      text-decoration: none;
      color: darken(@gray,20%);
    }
  }
  &__right-div{
    float: right;
    height: 100%;
    margin:-10px -10px 0 0;
  }
  &__deadline{
    color: @gray;
    float: right;
    &__date{
      margin-left: 10px;
      color: @selling;
    }
  }
  &__creator-responsible{
    clear: both;
    color: @gray;
    height: 35px;
    margin-top: 45px;
    &__creator{
      border-right:1px solid #999;
      padding-right: 10px;
      margin-right: 10px;
    }
  }
}
