.main-container
    a.newTask(ui-sref='newTask') +
    //a.newTask(ng-click="vm.logout()") Выход
    nav.tabs
        a.tab(ui-sref-active="active" ui-sref="myTasks") Мои задачи
        a.tab(ui-sref-active="active" ui-sref="commonTasks") Общие задачи
        a.tab(ui-sref-active="active" ui-sref="allTasks") Все задачи
    .tasks-container
        div(ui-view)