.tabs{
  margin:0 auto;
  width: 500px;
  margin-bottom: 40px;
}
.tab{
  width: 32%;
  text-align: center;
  cursor: pointer;
  border:1px solid #ddd;
  border-radius: 3px 3px 0 0;
  padding:10px;
  display: inline-block;
  z-index: 2;
  color:#555;
  margin-left: 0.3%;
  border-bottom:transparent;
  &:hover,&:visited,&:active,&:focus{
    text-decoration: none !important;
    color: @selling !important;
  }
}

.active{
  color: #f47373;
  border-color:  #f47373;
}
.tab_item{
  margin-top: -1px;
  border:1px solid #ddd;
  width: 400px;
  border-radius: 3px;
  padding:5px 10px;
}

.newTask{
  position: absolute;
  display: inline-block;
  top: 2px;
  left: 100%;
  &__link{

    color:#fff;
    padding:5px 15px;
    font-size: 25px;
    border-radius:0 3px 3px 0;

    &:hover{
      background: #f2f2f2;
      color:#333;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.logout{
  position: absolute;
  display: inline-block;
  top: 45px;
  left: 100%;
  &__link{
    border-radius:0px 3px 3px 0px;
    background:url('../assets/images/menu_icons/realisation6.svg') no-repeat;
    background-size: 35px 35px;
    background-position: center center;
    padding:5px 45px;
    font-size: 25px;
    &:hover{
      background:#f2f2f2 url('../assets/images/menu_icons/realisation6-reverse.svg') no-repeat;
      background-size: 35px 35px;
      background-position: center center;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

