.main-container
    //.logout
    //    a.logout__link(ng-click="vm.logout()")
    //        md-tooltip.logout__tooltip(md-direction="bottom") Выйти
    //.createTask
    //    a.createTask__link(ui-sref='newTask') +
    //        md-tooltip.createTask__tooltip(md-direction="bottom") Поставить задачу
    ////a.newTask(ng-click="vm.logout()") Выход
    //nav.tabs
    //    a.tab(ui-sref-active="active" ui-sref="myTasks") Мои задачи
    //    a.tab(ui-sref-active="active" ui-sref="commonTasks") Общие задачи
    //    a.tab(ui-sref-active="active" ui-sref="allTasks") Все задачи
    //.tasks-container
    div(ui-view)
