
            .task(ng-repeat='task in vm.tasks')
                input.m-checkbox(ng-click='$event.stopPropagation();', type="checkbox", ng-model='item.checked', value="")

                .task__star.m-checkbox-start.m-checkbox-start-normal(
                ng-class="{'m-checkbox-checked-start':task.favourite.indexOf(vm._id)>-1}",
                ng-click="vm.addToFavourites(task)")
                    md-tooltip.task__star__hint(md-direction="bottom") Добавить в избранные

                h4.task__name(ng-class="{'not-visited':!(task.visited.indexOf(vm._id)>-1)}")
                a(ui-sref="taskInfo({taskId:task._id})") {{task.name}}
                    span.task__circle(ng-class="{'circle-active':!(task.visited.indexOf(vm._id)>-1)}")
                .task__right-div
                    span.task__deadline(ng-class="{'not-visited':!(task.visited.indexOf(vm._id)>-1)}") до:
                        span.task__deadline__date{{task.deadline}}{{vm.hello}}

                    .task__creator-responsible
                        span.task__creator-responsible__creator(ng-class="{'not-visited':!(task.visited.indexOf(vm._id)>-1)}") Постановщик: {{task.creator.name}}
                        span.task__creator-responsible__responsible(ng-class="{'not-visited':!(task.visited.indexOf(vm._id)>-1)}") Ответсвенный: {{task.responsible.name}}









