.main-container
        div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
            div.m-menu-documents-item(
            ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
            ui-sref="tasksList",
            ng-class='{"m-menu-document-item-active": false}'
            )
                img.disabled(ng-src='../assets/images/help_desk/close.svg')
                img.active(ng-src='../assets/images/help_desk/close-reverse.svg',)
                md-tooltip(md-direction="bottom") Закрыть
        form.main-container__form(name="form" ng-submit="vm.createTask(task)")
            .m-input-container(flex=50)
                label(for="name") Название задачи
                input.m-input-container(novalidate required class="md-input-container"  name="name" id="name" ng-model="task.name")
                br

            .m-input-container(flex=50)
                label(for="description") Суть задачи
                textarea(name="description" cols=80 rows=7 id="description" ng-model="task.description")
                br

            .m-input-container(flex=50)
                label(for="responsible") Ответсвенный
                button.newTask__btn(id="responsible" bs-dropdown) {{vm.responsible.name || 'Выберите ответственного'}}
                    span.caret
                ul.newTask__dropdown(class="dropdown-menu" role="menu")
                    li.newTask__dropdown__item(ng-repeat="user in vm.users" ng-click="vm.chooseResponsible($index)")
                            img.user-photo(ng-src="../../assets/images/help_desk/user.jpg")
                            span {{user.name}}

                br


            .m-input-container(flex='50')
                label(for="deadline") Дедлайн
                datepicker.m-datepicker(date-format="yyyy-MM-dd")
                    input.newTask__deadline.m-input-picker(name="deadline" id="deadline" type='text' ng-model="task.deadline")

            .newTask__addHour.newTask__link(flex='50' ng-click="vm.showHours=!vm.showHours;vm.currentHour=0") Уточнить время

            .newTask__hours(ng-show='vm.showHours') до
                button.newTask__btn(bs-dropdown) {{vm.currentHour}}:00
                    span.caret
                ul.newTask__dropdown(class="dropdown-menu" role="menu")
                    li.newTask__dropdown__item(ng-repeat="hour in vm.hours", ng-click="vm.currentHour=vm.hours[$index]") {{hour}}:00
            br

            span.burn(ng-click="task.urgent=!task.urgent" ng-class="{'active-burn':task.urgent}" ng-init="task.urgent=false") Горит
            .required
                label.required__text(for='required') Сделать задачу объязательной
                input.required__input(type="checkbox" name="required" id="required" ng-model="task.required")
                br

            .members.extra-section(ng-show="vm.members")
                span.md-btn.extra-section__delete(ng-click="vm.hideMembers();task.customer=''") Удалить участников
                //                ---------------------------------------------------------------
                .m-input-container
                    label(for="performer")(flex=50) Соисполнители
                    button.md-btn.newTask__btn(id="performer" bs-dropdown) Выберите соисполнителя
                        span.caret
                    ul.newTask__dropdown(class="dropdown-menu" role="menu")
                        li.newTask__dropdown__item(ng-repeat="user in vm.users" ng-click="vm.removeFromUsers($index,vm.performers)")
                                img.user-photo(ng-src="../../assets/images/help_desk/user.jpg")
                                span {{user.name}}
                .users(ng-show="vm.performers.length")
                    .user(ng-repeat="performer in vm.performers")
                        img.user-photo(ng-src="../../assets/images/help_desk/user.jpg")
                        p(style="display:inline-block") {{performer.name+" "+performer.position}}
                        span.user__btn-remove(ng-click="vm.addToUsers(performer,vm.performers)") Х

                //                ---------------------------------------------------------------
                .m-input-container
                    label(for="auditor") Аудиторы
                    button.md-btn.newTask__btn(id="auditor" bs-dropdown) Выберите аудитора
                        span.caret
                    ul.newTask__dropdown(class="dropdown-menu" role="menu")
                        li.newTask__dropdown__item(ng-repeat="user in vm.users" ng-click="vm.removeFromUsers($index,vm.auditors)")
                            img.user-photo(ng-src="../../assets/images/help_desk/user.jpg")
                            span {{user.name}}
                    .users(ng-show="vm.auditors.length")
                        .user(ng-repeat="auditor in vm.auditors")
                            img.user-photo(ng-src="../../assets/images/help_desk/user.jpg")
                            p(style="display:inline-block") {{auditor.name+" "+auditor.position}}
                            span.user__btn-remove(ng-click="vm.addToUsers(auditor,vm.auditors)") Х

                .m-input-container(flex=50)
                    label(for="customer") Заказчик
                    button.md-btn.newTask__btn(id="customer" bs-dropdown) {{task.customer.nameCompany || 'Выберите заказчика'}}
                        span.caret
                    ul.newTask__dropdown(class="dropdown-menu" role="menu")
                        li.newTask__dropdown__item(ng-repeat="customer in vm.customers" ng-click="task.customer=customer")
                            span {{customer.nameCompany}}



            .hidden-sections
                a.newTask__link.hidden-sections__link(ng-click="vm.members=true" ng-show="!vm.members") + Добавить участников
            //Кнопка отправка disabled пока не заполнены поля имя и ответственный
            .submit-btns
                input.md-btn.submit(type="submit" value="Поставить задачу" ng-disabled="form.$invalid ||vm.responsible==false")

        .main-container__footer(ng-class="{'main-container__footer__show':vm.showFooter}")
            img.main-container__footer__preloader(ng-src="../assets/images/preloader.gif")
            h4.main-container__footer__text Отправка запроса