.main-container{
  &__form{
    background: #f7f7f7;
    padding: 15px;
  }
}
.md-btn{
  transition: .6s;
  outline: none;
  border:none;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  background: @selling;
}

label{
  margin-top: 30px;
}

.user{
  background: #eee;
  border:1px solid #d7d4d4;
  display: inline-block;
  text-align: center;
  padding: 10px 15px 5px 5px;
  margin-top: 15px;
  margin-left: 5px;
  position: relative;
  &__btn-remove{
    color: @selling;
    background: transparent;
    border:none;
    font-weight: normal;
    position: absolute;
    padding: 0;
    border-radius:50px;
    top: 0;
    right: 3px;
  }
}

.submit-btns{
  margin-top: 40px;
}

.pink-link{
  color: darken(@selling,10%);
  font-weight: normal;
  &:hover{
    color: darken(@selling,15%);
  }
}

.close-task{
  &:extend(.pink-link);
  margin-left: 40px;
}

.hidden-sections{
  float: right;
  &__link{
    &:extend(.pink-link);
    cursor: pointer;
  }
}

.extra-section{
  padding: 20px;
  border: 1px dotted #ccc;
  &__delete{

    margin-top: 20px;
    float: right;
  }
}

.requred{
  label{
    font-weight: lighter;
    color: #929292;
    margin-right: 15px;
  }
}

.submit{
  &:disabled{
    background: lighten(@selling,5%);
  }
}

.deadline{
  margin-bottom: 15px;
}

.burn{
  background:url("../../assets/images/burn.png") no-repeat;
  color: rgb(211, 34, 34);
  filter: grayscale(100%);
  padding-left: 20px;
  padding-top: 2px;
  display: inline-block;
  cursor: pointer;
    &:hover{
      filter: grayscale(0%);
    }
}