.main-container



        form.main-container__form(name="form" ng-submit="vm.createTask(task)")
            .m-input-container
                label(for="name") Название задачи
                input.m-input-container(novalidate required class="md-input-container"  name="name" id="name" ng-model="task.name")
                br

            .m-input-container
                label(for="description") Суть задачи
                textarea(name="description" cols=80 rows=7 id="description" ng-model="task.description")
                br

            .m-input-container
                label(for="responsible") Ответсвенный
                button(id="responsible"  bs-dropdown) {{vm.currentResponsible}}
                    span.caret
                ul(class="dropdown-menu" role="menu")
                    li(ng-repeat="user in vm.users" ng-click="vm.chooseResponsible(user._id)")
                        .responsible {{user.name}}

                br



            .m-input-container(flex='50')
                label(for="deadline") Дедлайн
                datepicker.m-datepicker(date-format="dd MMMM yyyy")
                    input.deadline.m-input-picker(name="deadline" id="deadline" type='text' ng-model="task.deadline")
                br
                span.burn(ng-click="task.urgent=!task.urgent" ng-class="{'active-burn':task.urgent}" ng-init="task.urgent=false") Горит


            .required
                label.required__text(for='required') Сделать задачу объязательной
                input.required__input(type="checkbox" name="required" id="required" ng-model="task.required")
                br

            .members.extra-section(ng-show="vm.members")
                span.md-btn.extra-section__delete(ng-click="vm.hideMembers();task.customer=''") Удалить участников
                //                ---------------------------------------------------------------
                .m-input-container
                    label(for="performer") Соисполнители
                    button(id="performer" bs-dropdown) {{vm.currentPerformer}}
                        span.caret
                    ul(class="dropdown-menu" role="menu")
                        li(ng-repeat="user in vm.users" ng-click="vm.removeFromUsers($index,vm.performers)")
                            .performer
                                img.user-photo(ng-src="../../assets/images/user.png")
                                span {{user.name}}

                .user(ng-repeat="performer in vm.performers")
                    img.user-photo(ng-src="../../assets/images/user.png")
                    p(style="display:inline-block") {{performer.name+" "+performer.position}}
                    button.user__btn-remove(ng-click="vm.addToUsers(performer,vm.performers)") Х
                br
                //                ---------------------------------------------------------------
                .m-input-container
                    label(for="auditor") Соисполнители
                    button(id="auditor"  bs-dropdown) {{vm.currentAuditor}}
                        span.caret
                    ul(class="dropdown-menu" role="menu")
                        li(ng-repeat="user in vm.users" ng-click="vm.removeFromUsers($index,vm.auditors)")
                            .auditor
                                img.user-photo(ng-src="../../assets/images/user.png")
                                span {{user.name}}

                .user(ng-repeat="auditor in vm.auditors")
                    img.user-photo(ng-src="../../assets/images/user.png")
                    p(style="display:inline-block") {{auditor.name}}
                    button.user__btn-remove(ng-click="vm.addToUsers(auditor,vm.auditors)") Х
                br
            .hidden-sections
                a.newTask__link.hidden-sections__link(ng-click="vm.members=true" ng-show="!vm.members") + Добавить участников
            //Кнопка отправка disabled пока не заполнены поля имя и ответственный
            .submit-btns
                input.md-btn.submit(type="submit" value="Поставить задачу" ng-disabled="form.$invalid")
                a.newTask__link.close-task(ui-sref="myTasks") Закрыть без сохранения



