.main-container{
  color: #666666;
  box-sizing: border-box;
}
input,button{
  border:none;
  outline:none;
  padding: 5px 0 0 5px;
  background: transparent;
}

input{
  border-bottom:1px dashed #d7d4d4;
  margin-left:15px;
}

button{
  padding:5px 10px;
  background: #f47373;
  color: #ffffff;
  margin-top: 30px;
}

textarea{
  margin-top: 25px;
  margin-left: 10px;
  resize: none;
}

label{
  margin-top: 20px;
}

.user{
  background: #eee;
  border:1px solid #d7d4d4;
  display: inline-block;
  text-align: center;
  width: 150px;
  margin-top: 15px;
  margin-left: 5px;
}

.user__btn-remove{
  -webkit-border-radius:;
  -moz-border-radius:;
  border-radius:50px;
  margin-left: 5px;
}