div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
  div.m-menu-documents-item(ui-sref='history')
    img.disabled(ng-src='../assets/images/menu_icons/realisation5.svg')
    img.active(ng-src='../assets/images/menu_icons/realisation5-reverse.svg')
    md-tooltip(md-direction="bottom") История
  div.m-menu-documents-item(ui-sref='settings')
    img.disabled(ng-src='../assets/images/menu_icons/settings.svg')
    img.active(ng-src='../assets/images/menu_icons/settings-reverse.svg')
    md-tooltip(md-direction="bottom") Настройки
  div.m-menu-documents-item(ng-click='vm.logout()')
    img.disabled(ng-src='../assets/images/menu_icons/realisation6.svg')
    img.active(ng-src='../assets/images/menu_icons/realisation6-reverse.svg')
    md-tooltip(md-direction="bottom") Выйти



div.like-invoice-title
  | История документов

.like-invoice-body.m-table
  .m-row.m-table-header(layout='row')
    .m-col(flex=15) Тип документа
    .m-col(flex=15) Контрагент
    .m-col(flex=15) Создатель
    .m-col(flex=15) Дата создания
    .m-col(flex=15) Исполнитель
    .m-col(flex=10) Статус
    .m-col(flex=20) Время выполнения

  .m-row.m-table-row(layout='row',
  ng-repeat="item in vm.history| orderBy : '-_id' track by $index ")

    .m-col(flex=15) {{item.docType}}
    .m-col(flex=15) {{item.contragent.companyName}}
    .m-col(flex=15) {{item.user.representative}}
    .m-col(flex=15) {{item.createDate | date:'dd MMM yy hh:mm' }}
    .m-col(flex=15) -
    .m-col(flex=10) В ожидании
    .m-col(flex=20) -



