//div.m-menu-documents
//  div.m-menu-documents-item(ng-repeat = 'item in vm.menuItems' ui-sref='{{item.state}}', ui-sref-active='m-menu-document-item-active')
//    //i( class="material-icons") &#xE24c;
//    img.disabled(ng-src='{{item.src}}')
//    img.active(ng-src='{{item.srcRevers}}')
//    md-tooltip(md-direction="top") {{item.title}}

