.task{
  padding:15px;
  border-left: 3px solid transparent;
  height: 80px;
  border-bottom:1px solid darken(#f2f2f2,5%);
  &:hover{
    border-left:3px solid darken(@selling,3%);
  }
  &__star{

    display: inline;
  }
  &__name{
    color: darken(@gray,7%);
    display: inline-block;
  }
  &__right-div{
    float: right;
    height: 100%;
    margin:-10px -10px 0 0;
  }
  &__deadline{
    color: @gray;
    float: right;
    &__date{
      margin-left: 10px;
      color: @selling;
    }
  }
  &__creator-responsible{
    clear: both;
    color: @gray;
    height: 35px;
    margin-top: 45px;
    &__creator{
      border-right:1px solid #999;
      padding-right: 10px;
      margin-right: 10px;
    }
  }
}