.main-container
    h3(ng-show="!vm.tasks.length") Пока нет задач
    table.tasks(ng-show="vm.tasks.length")
        th.task__th Задачи
        th.task__th Дедлайн
        th.task__th Ответственный
        th.task__th Постановщик
        th.task__th.task__star  &#9734;
            tr.task(ng-repeat="task in vm.tasks" ui-sref="taskInfo({taskId:task._id})")
                td.task__td
                    h4  {{task.name}}
                td.task__td
                    span.responsible(ng-repeat="responsible in task.responsible") {{" "+responsible.name+" "}}

                td.task__td
                    span.deadline{{task.deadline}}

                td.task__td
                    h5.creator Постановщик: {{task.creator}}
                td.task__td.task__star(ng-click="vm.addToFavorites(task._id))  &#9734;


