.main-container
    h3(syle="display:none" ng-show="!vm.tasks.length") Пока нет задач
    table.tasks(ng-show="vm.tasks.length")
        th.task__th Задача
        th.task__th Дедлайн
        th.task__th Ответственный
        th.task__th Постановщик
            tr.task(ng-repeat="task in vm.tasks")
                td.task__td(ui-sref="taskInfo({taskId:task._id})")
                    h4.task__td__name  {{task.name}}
                td.task__td
                    span.deadline{{task.deadline}}

                td.task__td
                    span.responsible{{task.responsible.name}}

                td.task__td
                    span.creator{{task.creator.name}}

