.taskInfo-container-left{
  &__auditors{
    &__auditor+.taskInfo-container-left__auditors__auditor:before{
      content: " , ";
    }
  }
  &__performers{
    &__performer+.taskInfo-container-left__performers__performer:before{
      content: " , ";
    }
  }
  &__description{
    padding:30px;
    background: #e6e6e6;
  }
  &__deadline{
    &__date{
      color: @selling;
      margin-left: 10px;
    }
  }
}
