.taskInfo-container {{task}}
            //информация о таске
            h3 {{vm.task.name}}
            //ul.project-actions
            //    li
            //        a.project-actions__action(ng-click="vm.closeTask()") Закрыть задачу
            //    li
            //        a.project-actions__action(ng-click="vm.pauseTask()") Поставить на паузу
            //    li
            //        a.project-actions__action(ng-click="vm.addSubTask()") Добавить подзадачу
            .description
                h5 Суть задачи:
                p {{vm.task.description}}

            h5.performers(ng-show="vm.task.performers.length") Соисполнитель(ли):
                span.performer(ng-repeat="performer in vm.task.performers") {{" "+performer.name+" "}}

            p.auditors(ng-show="vm.task.auditors.length") Аудитор(ы):
                span.auditor(ng-repeat="auditor in vm.task.auditors") {{" "+auditor.name+" "}}

            p.responsibles Ответсвенный:
                span.responsible {{" "+vm.task.responsible.name+" "}}

            p(ng-show="vm.task.deadline")  Дедлайн:
                span.deadline{{vm.task.deadline}}


            h5.creator Постановщик: {{vm.task.creator.name}}
            //form.taskInfo-container__form(name="newTaskForm" ng-submit="vm.func(form)")
            //    .m-input-container.comment
            //        label Коментарийй
            //        input(type="text" ng-model="form.comment")
            //    .m-input-container.comment
            //        label Потрачено времени
            //        input(type="text" placeholder="Пример: 2 недели 3 дня 4 часа 30 минут" ng-model="form.time")
            //    .m-input-container.comment
            //        label Процент завершения
            //        input(type="text" ng-model="form." +
            //        "progress" placeholder="Укажите процент завершениязадачи на данный момент")
            //    input.md-btn.myTask__write-btn(type="submit" value="Написать")

    div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
        div.m-menu-documents-item(ui-sref='settings')
            img.disabled(ng-src='../assets/images/help_desk/settings.svg')
            img.active(ng-src='../assets/images/help_desk/settings-reverse.svg')
            md-tooltip(md-direction="bottom") Настройки

        div.m-menu-documents-item(ng-click="vm.closeTask()")
            img.disabled(ng-src='../assets/images/help_desk/settings.svg')
            img.active(ng-src='../assets/images/help_desk/settings-reverse.svg')
            md-tooltip(md-direction="bottom") Закрыть задачу
        div.m-menu-documents-item(ui-sref='settings')
            img.disabled(ng-src='../assets/images/help_desk/settings.svg')
            img.active(ng-src='../assets/images/help_desk/settings-reverse.svg')
            md-tooltip(md-direction="bottom") Поставить на паузу
        div.m-menu-documents-item(ui-sref="tasks")
            img.disabled(ng-src='../assets/images/help_desk/close.svg')
            img.active(ng-src='../assets/images/help_desk/close-reverse.svg')
            md-tooltip(md-direction="bottom") Закрыть
