.m-container
  .m-auth
    md-input-container.md-block( flex-gt-sm)
      label Email
      input(ng-model="user.firstName" type="email", autocomplete="off")
    md-input-container.md-block( flex-gt-sm)
      label Password
      input(ng-model="user.email", type='password', autocomplete="off")


    md-button.md-raised Регистрация
